<!-- <p>Blog-item => I am a child!</p> -->
<h2>Blog item from service!</h2>
<div class="container mt-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id Number</th>
          <th>Title</th>
          <th>Description</th>
          <th>Author</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{blog?.id}}</td>
          <td>{{blog?.title}}</td>
          <td>{{blog?.description}}</td>
          <td>{{blog?.author}}</td>
          <td>{{blog?.comments}}</td>
        </tr>
      </tbody>
    </table>
  </div>

<br>

